body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient( #333, #555);
    color: white;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px; /* Adjust the height as needed */
    margin-right: 10px;
    border-radius: 50%;
}
.logo-text {
    font-size: 2.5rem;
    font-weight: bold;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 30px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s, text-decoration 0.3s;
    display: flex;
    align-items: center;
}
nav ul li a:hover {
    color: #ddd;
    text-decoration: underline;
}
nav ul li a i {
    margin-right: 8px;
    font-size: 18px;
}

/* Padding top to avoid content being hidden behind fixed header */
body::before {
    content: "";
    display: block;
    height: 70px; /* Adjust based on header height */
}

